<div class="container">
  <div class="row justify-content-center">
    <div class="col-5">
      <%= render 'shared/errors', obj: @article %>
      <%= form_with(model: @article, class: "shadow p-3 mb-5 rounded", local:true)do  |f| %>
        <div class="form-group row user-form">
          <%= f.label :title, class: "col-2 col-form-label mr-3", placeholder: "Title" %>
          <div class="col-8">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Title" %>
          </div>
        </div>

        <div class="form-group row user-form">
          <%= f.label :description, class: "col-2 col-form-label mr-3", placeholder: "Description" %>
          <div class="col-8">
            <%= f.text_area :description, rows: 3, class: "form-control shadow rounded" %>
          </div>
        </div>

        <div class="form-group row user-form">
          <%= f.label :category, class: "col-2 col-form-label mr-3", placeholder: "Description" %>
          <div class="col-8">
              <%=f.collection_select(:category_ids, Category.all, :id, :name,
              { prompt: "Choose category"}, {multiple: true, size: 3, class: "custom-select shadow rounded"})%>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-success btn-sm" %>
        </div>
      <%end%>
      <div class="row justify-content-center">
        <%= link_to "Return to home", articles_path%>
      </div>
    </div>
  </div>
</div>